.benefits {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-list__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-color);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--activ-logo-color);
}

.features-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  background-color: var(--second-bgd-color);
}
